body
{
	background-color:#3d231b;
	background-image: url("https://github.com/CrisMirands/crismirands.github.io/blob/master/_DSC0570.jpg?raw=true");
	background-size: cover;
	background-repeat: no-repeat;
}

.sect
{
	margin-top: 5px;
	margin-bottom: 5px ;
}

.cta {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgba(153, 153, 102, 0.8);
}

.cta .cta-inner {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.85);
}

.cta .cta-inner:before {
  border-radius: 0.5rem;
  content: '';
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.85);
}

.section-heading {
  text-transform: uppercase;
}

.section-heading .section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 800;
}

.section-heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 100;
}

.bg-faded {
  background-color: rgba(255, 255, 255, 0.85);
}


.intro {
  position: relative;
}

.responsive
{
	width: 100%;
    max-width: 700px;
    height: auto;
}

@media (min-width: 992px) {
  .intro .intro-img {
    width: cover;
    float: right;
    margin-bottom: 8rem;
    border-radius: 25px;
  }

  @media (min-width: 992px) {
  .intro .about-img {
    width: 50%;
    float: right;
    margin-bottom: 8rem;
    border-radius: 25px;


  }


  .intro .intro-text {
    left: 0;
    width: 60%;
    margin-top: 3rem;
    position: absolute;
  }


@media (min-width: 1200px) {
  .intro .intro-text {
    width: 55%;

  }
}

  @media (min-width: 992px) {
  .img-proj {
    
    float: right;
    margin-top: 15%;
    margin-bottom: 15%
    border-radius: 25px;


  }


.navbar
{
	background-color: rgba(255, 255, 255, 0.9);
	margin-bottom: 8rem;
}

.footer {
  padding: 5rem;
}