body
{
	/*background: url(https://images.unsplash.com/photo-1501004745788-4f4cb08ba8bc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=efb4245a7026676fbed5280a27faa597&auto=format&fit=crop&w=1950&q=80);*/
	
}
/*
hr
{
	
}*/

#centering
{
	text-align: center;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
				 0px 8px 13px rgba(0, 0, 0, 0.1),
				 0px 18px 23px rgba(0, 0, 0, 0.1);	
 }

#box
{
	background-color: #990000;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	font-family: lado;
	color: white;

	/*border: 3px solid #1D8918;*/
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav  li a:hover {
  color: #1abc9c !important;
}

#gear
{
	/*padding-top: 100%;
	background-color: #BFC9BE;*/
	/*background: url("Loading.gif");*/
}


.trans--grow
{
	-webkit-transition: width 1s ease-out; /* For Safari 3.1 to 6.0 */
	transition: width 1s  ease-out;
width : 0%;
}
.grow
{
  	width:40%;
}
.hr1
{
  margin-left:30%;
}

hr{
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 1%;
}

.shadowimg{
	-moz-box-shadow: 0px 6px 5px #000;
	-webkit-box-shadow: 0px 6px 5px #000;
	box-shadow: 0px 6px 5px #000;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
}
